.details-modal {
	@include twelveColumn();
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	background-color: $modal-shade;
	// in order to hide the modal at first
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

	.modal-container {
		grid-column: col-start 3 / 11;
		grid-row: 3 / 12;
		color: $modal-color;
		background-color: $modal-background;
		border-radius: 10px;
		padding: 1.25rem 5.6rem;

		.modal-top {
			@include flexBox($justify: space-between);
			margin-bottom: 1.25rem;

			.due-date,
			.priority {
				margin-left: .2rem;
				font-size: 1rem;
				color: $modal-color;
				border: none;
				margin-right: 1.875rem;
			}

			.add-button {
				cursor: pointer;
				color: #fff;
				padding: 0.3rem 0.8rem;
				font-size: 1.125rem;
				background-color: $modal-button;
				border: none;
				border-radius: 5px;
			}

			.add-button:hover {
				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.150);
				transition: .3s all ease-in-out;
			}
		}

		.modal-form form{
			@include flexBox($direction: column, $align: flex-start);

			textarea {
				font-family: 'Poppins', sans-serif;
				resize: none;
				width: 100%;
				height: 300px;
				font-size: 1.125rem;
				padding: 0.8rem .5rem;
				background-color: $navigation-top;
				border: 2px solid $side-text-color;
				border-radius: 5px;
			}

			input {
				width: 100%;
				margin-bottom: 1rem;
				font-size: 1.125rem;
				padding: 0.8rem 0.5rem;
				background-color: $navigation-top;
				border: none;
				border: 2px solid $side-text-color;
				border-radius: 5px;
			}
		}
	}
}
// in order to show the modal with a simple animation
.show-modal {
	@include showModal();
}
