* {
	padding: 0;
	margin: 0;
	vertical-align: baseline;	
	box-sizing: border-box;
}

body {
	font-size: 100%;
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-size: 3rem;
	font-weight: 700;
}

h2 {
	font-size: 1.125rem;
	font-weight: 400;	
}

h3 {
	font-size: 0.875rem;
	font-weight: 400;
}

.wrapper {
	max-width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
	grid-template-rows: repeat(12, 1fr);
}

.view-todo {
	grid-column: col-start 4 / 12;
	grid-row: 3 / 13;
}

.button {
	max-width: 30px;
	height: auto;
}