* {
	padding: 0;
	margin: 0;
	vertical-align: baseline;	
	box-sizing: border-box;
}

body {
	font-size: 100%;
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-size: 3rem;
	font-weight: 700;
}

h2 {
	font-size: 1.125rem;
	font-weight: 400;	
}

h3 {
	font-size: 0.875rem;
	font-weight: 400;
}

input {
	font-family: inherit;
}

.wrapper {
	@include twelveColumn();
}

.button {
	max-width: 30px;
	height: auto;
}

.button-hover:hover {
	transform: scale(1.1);
	transition: 120ms transform ease-in-out;
}

.text-hover:hover {
	font-weight: 600;
}