@mixin flexBox($direction: row, $justify: center, $align: center) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

@mixin twelveColumn() {
	max-width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
	grid-template-rows: repeat(12, 1fr);
};