.navigation-side {
	color: $side-text-color;
	background-color: $navigation-side;
	grid-column: col-start / span 2;
	grid-row: 2 / 13;
	overflow: hidden;

	.container {
		@include flexBox($direction: column, $align: flex-start);
		gap: 1rem;
		max-width: 70%;
		margin: 3.75rem auto 0 auto;

		h2, h3 {
			cursor: pointer;
		}

		.active {
			font-weight: 600;
		}

		.container-project {
			@include flexBox($justify: flex-start, $align: flex-start);
			gap: 1rem;
			flex-wrap: wrap;	

			.personal {
				@include flexBox();
				gap: 1rem;
				flex-wrap: nowrap;
			}
		}

		.container-personal {

			.new-personal {
				margin-left: 20px;
			}
			.add-personal {
				max-width: 20px;
			}

			.project-pop-up {
				@include flexBox($direction: column);
				opacity: 0;
				visibility: hidden;

				input {
					max-width: 90%;
					padding: 0.3rem 0.3rem;
					background-color: $navigation-top;
					border: none;
					border-radius: 3px;
				}

				.project-pop-up-buttons {
					width: 100%;
					@include flexBox($justify: space-evenly);
					flex-wrap: wrap;

					button {
						max-width: 100%;
						padding: 0.5rem 1.2rem;
						border: none;
						border-radius: 3px;
					}

					#add-new-project {
						background-color: $mid-priority;
						color: #fff;
					}

					#cancel-new-project {
						background-color: $high-priority;
						color: #fff;
					}
				}
			}
		}
	}
}