$navigation-top: #F5F4F3;
$navigation-side: #15181D;
$side-text-color: #AFAFAF;
$high-priority: #F95656;
$mid-priority: #57ADEB;
$low-priority: #8FDC2D;
$modal-shade: rgba(21, 24, 29, .7);
$modal-background: #FFFFFF;